.playingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: none;
}
.playingOverlay h2 {
    margin-bottom: 0;
}
.playingOverlay h3 {
    margin: 0;
}
.playingOverlay .widget {
    background: #00000090;
    border-radius: 5px;
    min-width: 300px;
    padding: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.playingOverlay .widget .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.color-picker {
    width:20px;
    height:20px;
    overflow: hidden;
    border-radius:100%;
}
input[type='color'] {
    width:100%;
    height:100%;
    background: transparent;
    transform: scale(5);
    cursor: pointer;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 100px;
    align-items: center;
    margin: 10px;
}
.grid .row {
    display: flex;
    gap: 5px;
}
.grid .row div {
    width: 30px;
    height: 30px;
}
.grid .row div.key {
    background: #00000080;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.large {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background: #00000080;
    border-radius: 3px;
    height: 30px;
    margin: 10px;
}

.description {
    margin-right: 10px;
}